/index.php
/languages/
/plugins/akismet/
/plugins/hello.php
/themes/twentyfifteen/
/themes/twentyseventeen/
/themes/twentysixteen/
/upgrade/
/uploads/
/vendor/
node_modules/
wordpress-coding-standards
php-codesniffer
plugins/wordpress-importer/

# Query Monitor's symlink db.php
db.php

# Contibutors plugin
plugins/support-helphub/inc/helphub-contributors/admin/assets/
plugins/support-helphub/inc/helphub-contributors/public/css/
