/index.php
/languages/
/plugins/akismet/
/plugins/hello.php
/themes/twentyfifteen/
/themes/twentyseventeen/
/themes/twentysixteen/
/upgrade/
/uploads/
/vendor/
/node_modules/
/themes/wporg-support/node_modules/
plugins/wordpress-importer/
.phpcs.xml
phpcs.xml
.phpcs.xml.dist

# Query Monitor's symlink db.php
db.php

# Chassis requires a custom.ini file, this should be ignored
custom.ini

# Contibutors plugin
plugins/support-helphub/inc/helphub-contributors/public/css/
