table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1.5em;
	width: 100%;
	table-layout: fixed;
	word-wrap: break-word; /* old IE */
 	overflow-wrap: break-word; /* modern synonym for word-wrap */
 	word-break: keep-all; /* affects some Asian languages */
}

thead {
  background-color: #eee;
}

td,
th {
	vertical-align: top;
	padding: 2px 5px;
	border: 1px solid #eee;
}

tr:nth-child(even) {
	background-color: rgba(0,0,0, 0.025)
}

@media screen and (max-width: 699px) {
	table {
		display: block;  /* instead of table */
		overflow-x: auto;
	}
}
