.single-post {

	.single-post-sidebar {
		background-color: #d8d8d8;
		float: left;
		width: 30%;
		padding: 1em;
		box-sizing: border-box;
		position: relative;
	}
}

.single-post-sidebar {

	.sidebar-content {
		position: fixed;
	}
}
