.three-up {

	&.helphub-front-page {

		p,
		ul {
			text-align: left;
		}

		> div {

			margin-bottom: 5rem;
		}
	}
}

#helphub-forum-link {

	margin-top: 5rem;

	span {
		display: inline-block;
		width: 100%;
		max-width: 335px;
	}

	a {

		margin-top: 0.5rem;
		display: inline-block;
	}
}
