.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.single-post {

	h1 {

		&.entry-title {
			font-size: 29px;
			line-height: 31px;
		}
	}

	article {

		&.post {
			float: left;
			box-sizing: border-box;
			position: relative;
		}
	}
}

.article-container {
	position: relative;
}

.entry-content {

	ul {
		margin-left: 2em;
	}
}
