.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.single-post {

	article {

		&.post {
			float: left;
			padding: 2em;
			box-sizing: border-box;
			position: relative;
		}
	}
}

.article-container {
	position: relative;
}

.entry-header {
	border-bottom: 2px solid #000;
	margin-bottom: 2em;
	padding-bottom: 0.5em;
	text-align: center;
}

.entry-content {

	ul {
		margin-left: 2em;
	}
}
